{% extends 'layout.html' %} 
{% load static %}

{% block title %}Book Hotel{% endblock title %}
{% block body %}style="background-color: whitesmoke;"{% endblock body %}
{% block content %}

      <div class="card" >
        <div class="card-header">
          <h2><a href="{%url 'room' %}" style="color: rgb(88, 88, 88);"><span class="material-icons" style="font-size:25px ;">arrow_back_ios</span></a>Booking</h2></div>
        <div class="card-body ">
          <!-- <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <div class="step">
          <Table border="0" style=" justify-content:center;margin:auto;margin-bottom:10%;margin-top:7%;">
            <tr>
              <td><i id="check1" class="gg-check-o"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o1"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o1"></i></td>
            </tr>
          </Table>
        </div>
          <form action="" method="POST">
            <div class="form-wrapper">
                <h5>Type</h5>
                <label for="typeroom" style="margin-left: 5%;">
                  <input type="radio" name="junior" id="junior" >Junior Suite
                </label>
                <label for="typeroom" style="margin-left: 5%;">
                  <input type="radio" name="standard" id="standard" >Standard Room
                <label for="typeroom" style="margin-left: 0.5%;">
                    <input type="radio" name="superior" id="superior" >Superior Room
                </label><br>
            </div><br> 
            <div class="form-wrapper">
                <h5>Services</h5>
                <label for="Services" style="margin-left: 5%;">
                  <input type="checkbox" name="service_code" id="Cleaning" >Cleaning Room(500 THB)
                </label>
                <label for="Services" style="margin-left: 5%;">
                  <input type="checkbox" name="service_code" id="ExtraBed" >Extra Bed(700 THB)
                <label for="Services" style="margin-left: 0.5%;">
                    <input type="checkbox" name="service_code" id="BreakFast" >Break Fast(500 THB/PEOPLE)
                </label><br>
            </div><br> 
            <div class="form-wrapper">
              <label for="promotion_code"><h5>Promotion Code</h5></label><br>
              <input type="text" name="promotion_code" id="promotion_code" class="form-control">
            </div>
            <div class="form-wrapper" style="text-align: end;">
              <br><a class="btn" type="submit" href="{%url 'odersummaryhotel' %}">Next</a>
              <button type="submit" value = "Login" class="form-control login-btn btn-primary rounded submit px-3" style="margin-top: 5%;">Next</button>
            </div>
          </form>
        </div>
      </div> 
{% endblock %}