{% extends 'layout.html' %} 
{% load static %}

{% block title %}Book Restaurant{% endblock title %}
{% block body %}style="background-color: whitesmoke;"{% endblock body %}
{% block content %}

      <div class="card" >
        <div class="card-header">
          <h2><a href="#" style="color: rgb(88, 88, 88);"><span class="material-icons" style="font-size:25px ;">arrow_back_ios</span></a>Booking</h2></div>
        <div class="card-body ">
          <!-- <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <div class="step">
          <Table border="0" style=" justify-content:center;margin:auto;margin-bottom:10%;margin-top:7%;">
            <tr>
              <td><i id="check1" class="gg-check-o"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o1"></i></td>
            </tr>
          </Table>
        </div>
          <form action="{% url 'paymentres' %}" method="post">
            {% csrf_token %}
            <br>
            <h5>Date : </h5>
            <h5>No. of people : </h5>
            <h5>Buffet round : </h5><br>
            <hr>
            <h5>Discount : </h5>
            <h5>Total : </h5><br>
            <hr> <br>
            <input type="date" name="eatdate" id="eatdate" value="{{eatdate}}" hidden>
            <input type="text" name="buffet_round" value = "{{buffet_round}}" hidden>
            <input type="number" name="number_guest" id="number_guest"  value="{{number_guest}}" hidden> 
            <input type="text" name="promotion_code" id="promotion_code" value ="{{promotion_code}}" hidden>
            <input type="text" name="total_charge" id="total_charge" value ={{total_charge}} hidden>
            <div class="form-wrapper" style="text-align: end;">
                <button type="submit" value = "confirm" class="btn" style="margin-top: 5%;">Comfirm</button>
            </div>
          </form>
        </div>
      </div>
{% endblock %}