{% extends 'layout.html' %} 
{% load static %}

{% block title %}Book Restaurant{% endblock title %}
{% block body %}style="background-color: whitesmoke;"{% endblock body %}
{% block content %}

      <div class="card" >
        <div class="card-header">
          <h2><a href="#" style="color: rgb(88, 88, 88);"><span class="material-icons" style="font-size:25px ;">arrow_back_ios</span></a>Booking</h2></div>
        <div class="card-body ">
          <!-- <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <div class="step">
          <Table border="0" style=" justify-content:center;margin:auto;margin-bottom:10%;margin-top:7%;">
            <tr>
              <td><i id="check1" class="gg-check-o"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o1"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o1"></i></td>
            </tr>
          </Table>
        </div>
          <form action="{% url 'ordersummaryres' %}" method="post">
            {% csrf_token %}
            <div class="form-wrapper">
              <label for="datebook"><h5>Date</h5></label><br>
              <input type="date" name="eatdate" id="eatdate" class="form-control">
            </div><br>
            <div class="form-wrapper">
                <h5>Buffet Round</h5>
                <label for="buffet_round" style="margin-left: 5%;">
                  <input type="radio" name="buffet_round" id="lunch" value = "lunch">Lunch
                </label>
                <label for="buffet_round" style="margin-left: 8%;">
                  <input type="radio" name="buffet_round" id="dinner" value = "dinner">Dinner
                </label><br>
            </div><br>
            <div class="form-wrapper">
              <label for="number_guest"><h5>Number Of Guest</h5></label><br>
              <input type="number" name="number_guest" id="number_guest" class="form-control" min="1" max="800"><br>
            </div>
            <div class="form-wrapper">
              <label for="promotion_code"><h5>Promotion Code</h5></label><br>
              <input type="text" name="promotion_code" id="promotion_code" class="form-control">
            </div>
            <div class="form-wrapper" style="text-align: end;">
              <button type="submit" value = "next" class="btn" style="margin-top: 5%;">Next</button>>
              {% comment %} <a class="btn" href="{% url 'ordersummaryres' %}">Next</a> {% endcomment %}
            </div>
          </form>
        </div>
      </div>
      <script>
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("date")[0].setAttribute('min', today); 
      </script> 
{% endblock %}