{% extends 'layout.html' %} 
{% load static %}

{% block title %}Book Restaurant{% endblock title %}
{% block body %}style="background-color: whitesmoke;"{% endblock body %}
{% block content %}

      <div class="card" >
        <div class="card-header">
          <h2><a href="{%url 'bookroom' %}" style="color: rgb(88, 88, 88);"><span class="material-icons" style="font-size:25px ;">arrow_back_ios</span></a>Booking</h2></div>
        <div class="card-body ">
          <!-- <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <div class="step">
          <Table border="0" style=" justify-content:center;margin:auto;margin-bottom:10%;margin-top:7%;">
            <tr>
              <td><i id="check1" class="gg-check-o"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o1"></i></td>
            </tr>
          </Table>
        </div>
          <form action="{% url 'checkBookingdetail' %}" method="POST">
            {% csrf_token %}
            <h5>Date checkin : {{date_check_in}}</h5>
            <h5>Date checkout : {{date_check_out}}</h5>
            <h5>Room type : {{roomtype }}</h5>
            <h5>Number of Room : {{room_count}}</h5>
            <h5>Number of Guests : {{number_guest}} </h5>
            <h5>Services : {{service_name}} </h5>
            <hr>
            <h5>Discount : -{{discount}} </h5>
            <h5>Total : {{total_charge}}</h5><br>
            <hr> <br>
            <select class="form-control" name="paymentmethod" >
              <option value="Master Card">Master Card</option>
              <option value="Visa">Visa</option>
          </select>
            <input type="date" name="date_check_in" id="date" value="{{date_check_in}}" hidden>
            <input type="date" name="date_check_out" id="date" value="{{date_check_out}}" hidden>
            <input type="text" name="roomtype" value = "{{roomtype}}" hidden>
            <input type="number" name="room_count" id="room_count"  value="{{room_count}}" hidden> 
            <input type="number" name="number_guest" id="number_guest"  value="{{number_guest}}" hidden> 
            <input type="text" name="service_name" value = "{{service_name}}" hidden>
            <input type="number" name="total_charge" id="total_charge" value ="{{total_charge}}" hidden>
            <input type="text" name="discount" id="discount" value ="{{discount}}" hidden>
            <input type="text" name="paymentmethod" id="paymentmethod" value ="{{paymentmethod}}" hidden>
            <div class="form-wrapper" style="text-align: end;">
                <button type="submit" value = "confirm" class="form-control login-btn btn-primary rounded submit px-3" style="margin-top: 5%;">Confirm</button>
            </div>
          </form>
        </div>
      </div>
{% endblock %}