{% extends 'layout.html' %} 
{% load static %}

{% block title %}Booking Hotel{% endblock title %}
{% block body %}style="background-color: whitesmoke;"{% endblock body %}
{% block content %}
<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <br><br><br><br><br>
      <tr>
        <th scope="col">BookingNo</th>
        <th scope="col">CustomerID</th>
        <th scope="col">Check In</th>
        <th scope="col">Check Out</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      
      {% for hotel in hotels %}  
      <tr>
        <th scope="row">{{hotel.booking_no.booking_no}}</th>
        <td>{{hotel.booking_no.customer_id}}</td>
        <td>{{hotel.date_check_in}}</td>
        <td>{{hotel.date_check_out}}</td>
        <td><button type="button" class="btn btn-dark btn-sm">Edit</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock content %}