{% extends 'layout.html' %} 
{% load static %}

{% block title %}Booking Restaurant{% endblock title %}
{% block body %}style="background-color: whitesmoke;"{% endblock body %}
{% block content %}
<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <br><br><br><br><br>
      <tr>
        <th scope="col">ResBookingNo</th>
        <th scope="col">CustomerID</th>
        <th scope="col">Round</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      
      {% for restaurant in restaurants %}  
      <tr>
        <th scope="row">{{restaurant.resb_no}}</th>
        <td>{{restaurant.resb_no.customer_id}}</td>
        <td>{{restaurant.buffet_round}}</td>
        <td>{{restaurant.eatdate}}</td>
        <td><button type="button" class="btn btn-dark btn-sm">Edit</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock content %}
