{% extends 'layout_staff.html' %} 
{% load static %}

{% block title %}Book Hotel{% endblock title %}
        
{% block body %}style="background-color: whitesmoke;"{% endblock body %}
{% block content %}
        
      <div class="card" >
        <div class="card-header">
          <h2><a  style="color: rgb(255, 255, 255);"><span class="material-icons" style="font-size:25px ;">arrow_back_ios</span></a>Room Booking</h2>
        </div>
        <div class="card-body ">
          <!-- <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <div class="step">
          <Table border="0" style=" justify-content:center;margin:auto;margin-bottom:10%;margin-top:7%;">
            <tr>
              <td><i id="check1" class="gg-check-o"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o1"></i></td>
              <td><i id="line" class="gg-border-style-solid"></i></td>
              <td><i id="check" class="gg-check-o1"></i></td>
            </tr>
          </Table>
          </div>
          <form action="" method = "POST">
            {% csrf_token %}
            <div class="form-wrapper">
              <label<h5>Type Of Room</h5></label><br>
              <label for="typeroom" style="margin-left: 5%;">
                <input type="radio" name="roomtype" id="junior" value="Junior Room" checked>Junior Suite 
              </label>
              <label for="typeroom" style="margin-left: 5%;">
                <input type="radio" name="roomtype" id="standard" value="Standard Room">Standard Room
              <label for="typeroom" style="margin-left: 0.5%;">
                  <input type="radio" name="roomtype" id="superior" value="Superior Room">Superior Room
              </label><br>
            </div><br>
            <div class="form-wrapper">
              <label for="room_count"><h5>Number Of Room</h5></label><br>
              <input type="number" value="{{detail.room_count}}" name="room_count" id="room_count" class="form-control" min="1" max="30"><br>
            </div>
            <div class="form-wrapper">
              <label for="number_guest"><h5>Number Of Guest</h5></label><br>
              <input type="number" value="{{roombooking.number_guest}}" name="number_guest" id="number_guest" class="form-control" min="1" max="20"><br>
            </div>
            <div class="form-wrapper">
              <h5>Services</h5>
              <label for="Services" style="margin-left: 5%;">
                <input type="checkbox" class="checkvalue" value="Cleaning">Cleaning Room(500 THB)
              </label>
              <label for="Services" style="margin-left: 5%;">
                <input type="checkbox"  class="checkvalue" value="ExtraBed" >Extra Bed(700 THB)
              <label for="Services" style="margin-left: 0.5%;">
                  <input type="checkbox"  class="checkvalue" value="Breakfast">Break Fast(500 THB/PEOPLE)
              </label><br>
              <input type="text" name="service_name" id="checkvalue" hidden>
              <br>
            </div> 
            <div class="form-wrapper">
              <h5>Total</h5>
              <input type="number" name="total_charge" id="total_charge" class="form-control" value ="{{roombooking.total_charge}}">
            </div>
            <hr>
              <div class="form-wrapper" style="text-align: end;">
                <!-- <br><a class="btn" href="{%url 'checkroom' %}">Reservation</a> -->
                <button type="submit" value = "next" class="btn" style="margin-top: 5%;">Comfirm</button>
              </div>
        </form>
        </div>
    </div>
    {% block script %}
        <script>
            $(document).ready(function(){
              $('.checkvalue').click(function(){
                var txt="";
                $('.checkvalue:checked').each(function(){
                  txt+=$(this).val()+","
                });
                console.log(txt)
                $('#checkvalue').val(txt);
              });
            });
        </script>
    {% endblock script %}
{% endblock %}