{% extends 'layout.html' %} 
{% load static %}

{% block title %}Register{% endblock title %}
{% block body %}class = "bg-1"{% endblock body %}
{% block content %}
    <div class="wrapper" >
        <div class="wrapper-inner" >
            <div class="image-holder">
                <img src="{% static 'images/invoice.jpeg' %}"  alt="">
            </div>
            <form action="{%url 'resultinvoice' %}" method = "POST">
                {% csrf_token %}
                <br><br><br><br><h2>INVOICE HOTEL&RESTAURANT FORM</h2><br><br>
                <div class="form-wrapper">
                    <label for="fname">Booking Hotel No.</label>
                    <input type="text" name="booking_no" placeholder="Booking Hotel No" class="form-control" >
                </div>
                <div class="form-wrapper">
                    <label for="resb_no">Booking Res No</label>
                    <input type="text" name="resb_no" placeholder="Booking Res No." class="form-control" > 
                </div>
                <div class="form-wrapper">
                    <label for="customer_id">Customer ID</label>
                    <input type="text" name = "customer_id" placeholder="Customer ID" class="form-control" >
                </div>
                <div class="form-wrapper">
                    <button type="submit" value = "sign up" class="form-control login-btn btn-primary rounded submit px-3" style="margin-top:5%">SEARCH</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
