{% extends 'layout.html' %} 
{% load static %}

{% block title %}Profile{% endblock title %}
{% block body %}id="home" class="bg-1"{% endblock body %}
{% block content %}
        <div class="container emp-profile ">
                <div class="row justify-content-center" style="margin-top:3%;margin-left:7%">
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{customer.fullname}}
                                    </h5>
                                    <h6>
                                        {{customer.email}}
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
                                </li>
                            </ul> 
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="profile-edit-btn" data-toggle="modal" data-target="#myProfile">Edit Profile</button>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-left:7%">
                    <div class="col-md-9">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{customer.customer_id}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{customer.fullname}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{customer.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{customer.tel}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{customer.address}}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="profile-tab" style=" overflow-y: auto;overflow-x: hidden;max-height: 350px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Booking No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Type</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Date</label>
                                        </div>
                                    </div>
                                    {% for book in customer_booking %}
                                        <div class="row">
                                            {% if book.booking_no == None %}
                                                <div class="col-md-4">
                                                    <p>{{book.resb_no}}</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>Restaurant</p>
                                                </div>
                                            {% else %}
                                                <div class="col-md-4">
                                                    <p>{{book.booking_no}}</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>Hotel Room</p>
                                                </div>                                      
                                            {% endif %}
                                            <div class="col-md-4">
                                                <p>{{book.booking_date}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="modal fade" id="myProfile" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Edit Profile</h4>
                            </div>
                            <div class="modal-body">
                                <form method = "POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="fname">First Name</label>
                                        <input type="text" name="fname" placeholder="First Name" class="form-control" value = "{{customer.fname}}">
                                        <label for="lname">Last Name</label>
                                        <input type="text" name="lname" placeholder="Last Name" class="form-control"  value="{{customer.lname}}"> 
                                    </div>
                                    <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <input type="text" name = "email" placeholder="Email Address" class="form-control" value="{{customer.email}}">
                                    </div>
                                    <div class="form-group">
                                       <label for="phone">Tel</label>
                                        <input type="tel" name = "tel" placeholder="tel" class="form-control" value="{{customer.tel}}"> 
                                    </div>
                                    <div class="form-group">
                                       <label for="address">Address</label>
                                        <input type="text" name = "address" placeholder="address" class="form-control" value="{{customer.address}}"> 
                                    </div>
                                    <div class="form-group" style="margin-top:5%">
                                        <button type="button" class="btn" data-dismiss="modal">Cancle</button>
                                        <button type="submit" class="btn" style = "margin-left: 50%" value = "confirm">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>    
        </div>
{% endblock %}