{% extends 'layout.html' %} 

{% block title %}Promotions{% endblock title %}
{% block body %}id="home" data-spy="scroll" data-target=".navbar" data-offset="50" class="bg-1"{% endblock body %}
{% block content %}
{% comment %} id="promotion" class="bg-1" {% endcomment %}
    <div class="container">
        <div class="row text-center ">

            <div class="col-sm-4">
                
                    <div class="promotion">
                        <h5><strong>LUNCH</strong></h5>
                        <p>Lorem ipsum dolor sit amet</p>
                        <h6>P00012</h6>
                        <a class="btn" href="#">Reservation</a>
                        <h5></h5>
                    </div>
                
            </div>

        </div>
    </div>
{% endblock %}
