{% extends 'layout.html' %} 

{% block title %}Promotions{% endblock title %}
{% block body %}id="home" data-spy="scroll" data-target=".navbar" data-offset="50" class="bg-1"{% endblock body %}
{% block content %}
{% comment %} id="promotion" class="bg-1" {% endcomment %}
    <div class="container">
        
        <div class="row text-center ">
            {%for pro in allpromotion %}

            <div class="col-sm-4">
                    <div class="promotion">
                        <h5><strong>PROMOTIONS</strong></h5>
                        <p>code : {{pro.promotion_code}}</p>
                        <p>name : {{pro.promotion_name}}</p>
                        <p>detail : {{pro.promotion_detail}}</p>
                        <p>start date: {{pro.start_date}}</p>
                        <p>expire date : {{pro.expire_date}}</p>
                        <p>discount : {{pro.discount}}</p>
                        <a class="btn" href="#">Reservation</a>
                        <h5></h5>
                    </div>
            </div>
            {%endfor%}

        </div>
    </div>
{% endblock %}
