{% extends 'layout.html' %} 

{% block title %}Promotions{% endblock title %}
{% block body %}id="home" data-spy="scroll" data-target=".navbar" data-offset="50" class="bg-1"{% endblock body %}
{% block content %}
{% comment %} id="promotion" class="bg-1" {% endcomment %}
    <div class="container">
        
        <div class="row text-center ">
            {%for pro in allpromotion %}

            <div class="col-sm-4">
                    <div class="promotion">
                        <h5><strong>PROMOTIONS</strong></h5>
                        <p>name : {{pro.promotion_name}}<br>
                           detail : {{pro.promotion_detail}}<br>
                           start date: {{pro.start_date}}<br>
                           expire date : {{pro.expire_date}}<br>
                           discount : {{pro.discount}}</p>
                        <h6>code : {{pro.promotion_code}}</h6>
                        <a class="btn" href="#" style="margin-bottom:5%">Reservation</a>
                    </div>
            </div>
            {%endfor%}

        </div>
    </div>
{% endblock %}
