{% extends 'layout_staff.html' %} 
{% load static %}

{% block title %}Register{% endblock title %}
{% block body %}class = "bg-1"{% endblock body %}
{% block content %}
    <div class="wrapper">
        {% for message in messages %}
        <p id="messages">{{message}}</p>{% endfor %}
        <div class="wrapper-inner-form">
            <form action="/signup_staff/" method = "POST">
                {% csrf_token %}
                <h2>New Account?</h2>
                <div class="form-holder">
                    <input type="text" name="fname" class="form-control" placeholder="First name">
                </div>
                <div class="form-holder">
                    <input type="text" name="lname" class="form-control" placeholder="Last name">
                </div>

                <!-- <div class="form-holder">
                    <input type="text" name="job_title" class="form-control" placeholder="Job Title">
                </div> -->
<!-- 
                <div class="form-holder">
                    <input type="number" name="salary" class="form-control" placeholder="Salary">
                </div> -->

                <div class="form-holder">
                    <input type="email" name="email" class="form-control" placeholder="Mail">
                </div>
                <div class="form-holder">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-holder">
                    <input type="date" name="dob" class="form-control" placeholder="DOB">
                </div>
                <!-- <div class="form-holder">
                    <input type="password" class="form-control" placeholder="Confirm Password">
                </div> -->
                <div class="form-wrapper">
                    <button type="submit" value = "sign up" class="form-control login-btn btn-primary rounded submit px-3" style="margin-top:5%">Register</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
