{% extends 'layout.html' %} 
{% load static %}

{% block title %}Boiled-Youtiao Restaurant{% endblock title %}
{% block body %}id="home" data-spy="scroll" data-target=".navbar" data-offset="50"{% endblock body %}
{% block content %}
   <!-- Start slides -->
    <div id="slides" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'images/slider-01.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To<br>Boiled-Youtiao Restaurant</strong></h1>
                            <p class="m-b-40">To provide a fun and safe environment where our customers can enjoy good food <br>
                                made with quality ingredients at affordable prices.</p>
                            <p><a class="btn btn-lg" href="{% url 'showresultres' %}">Reservation</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/slider-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To<br>Boiled-Youtiao Restaurant</strong></h1>
                            <p class="m-b-40">To provide a fun and safe environment where our customers can enjoy good food <br>
                                made with quality ingredients at affordable prices.</p>
                            <p><a class="btn btn-lg" method="get" href="{% url 'showresultres' %}">Reservation</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/slider-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To<br>Boiled-Youtiao Restaurant</strong></h1>
                            <p class="m-b-40">To provide a fun and safe environment where our customers can enjoy good food <br>
                                made with quality ingredients at affordable prices.</p>
                            <p><a class="btn btn-lg" href="/book_table">Reservation</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- Start About -->
    <div class="about-section-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{% static 'images/about-img.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="inner-column">
                        <h1>Welcome To Boiled-Youtiao Restaurant</h1>
                        <h4>Little Story</h4>
                        <p> Everything we do is about you. From our chefs who create <br> exciting new flavors, 
                            to crew members who know exactly how you want your drink  </p>
                        <p> we prioritize what you need to get you on your way. 
                            We strive to keep you at your best, and we remain loyal to you, your tastes and your time. 
                            That’s what Boiled-Youtiao runs on. </p>
                        <a class="btn btn-lg" href="{% url 'showresultres' %}">Reservation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start QT -->
    <div class="qt-box qt-background">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-left">
                    <p class="lead ">
                        " If you're not the one cooking, stay out of the way and compliment the chef. "
                    </p>
                    <span class="lead">Michael Strahan</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Menu -->
    <div class="menu-box">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title">
                        <h2>Lunch Menu</h2>
                        <p>Our mission is to inspire healthier communities by connecting people to real food.</p>
                    </div>
                </div>
            </div>
            <div class="row special-list">
                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-01.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Drinks 1</h5>
                            <p>To serve the world flavor.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-02.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Drinks 2</h5>
                            <p>A passion to serve.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-03.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Drinks 3</h5>
                            <p>Make Life Better.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-04.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Lunch 1</h5>
                            <p>Do right and far exceed expectations daily.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-05.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Lunch 2</h5>
                            <p>To serve everyone better than anyone else.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-06.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Lunch 3</h5>
                            <p>Serve REAL food that tastes, looks, and smells delicious.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Dinner Menu</h2>
                        <p>Our mission is that every guest who chooses Boiled Youtiao’s leaves happy.</p>
                    </div>
                </div>
            </div>
            <div class="row special-list">
                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-01.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Drinks 1</h5>
                            <p>Make Life Better.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-02.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Drinks 2</h5>
                            <p>To serve the world flavor.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-03.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Drinks 3</h5>
                            <p>A passion to serve.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-07.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Dinner 1</h5>
                            <p>To serve everyone better than anyone else.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-08.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Dinner 2</h5>
                            <p>Serve REAL food that tastes, looks, and smells delicious.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="{% static 'images/img-09.jpg' %}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5>Special Dinner 3</h5>
                            <p>Do right and far exceed expectations daily.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-lg justify-content-md-auto" href="{% url 'showresultres' %}">Reservation</a>
        </div>
    </div>
    {% block script %}
        <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    {% endblock script %}
{% endblock  %}