{% extends 'layout.html' %} 
{% load static %}

{% block title %}Booking Info{% endblock title %}
{% block body %}class = "bg-1"{% endblock body %}
{% block content %} 
      <div class="card"  style = "padding-left:5%; margin_bottom:30%">
        <div class="card-header" >
          <h2><a href="{% url 'profile' %}"  style="color: rgb(88, 88, 88);"><span class="material-icons" style="font-size:25px ;">arrow_back_ios</span></a>Booking Detial</h2></div>
                <div class="form-wrapper">
                    <h6>Booking Room No. :{{no}} </h6>
                </div>
                <div class="form-wrapper">
                    <h6>Date checkin : {{room.date_check_in}}</h6>
                    <h6>Date checkout : {{room.date_check_out}}</h6>
                    <h6>Room type : {{detail.roomtype }}</h6>
                    <h6>Number of Room : {{detail.room_count}}</h6>
                    <h6>Number of Guests : {{room.number_guest}} </h6>
                    <h6>Services : {{detail.service_name}} </h6>
                    <h6>Total : {{room.total_charge}}</h6>
                </div><hr>
      </div>
{% endblock %}