{% extends 'layout.html' %} 
{% load static %}

{% block title %}Boiled-Youtiao Hotel{% endblock title %}
{% block body %}id="home" style = "background-color: whitesmoke; "{% endblock body %}
{% block content %}
  <div id="our_room" class="hotel">
    <div class="box">
      <div class="head_room">
        <h1>Our rooms</h1>
        <hr>
      </div>
      <div class="img_hotel">
        <img id="img1"
          src="https://static.wixstatic.com/media/fde015_6c05c2f649564c37a7b5acfd3a848e5b.jpg/v1/fill/w_240,h_170,q_85,usm_0.66_1.00_0.01/fde015_6c05c2f649564c37a7b5acfd3a848e5b.jpg"
          align="top">
        <hr>
        <img id="img1"
          src="https://static.wixstatic.com/media/fde015_597c7d9710e44a9d91514e0ac84fb653.jpg/v1/fill/w_240,h_170,q_85,usm_0.66_1.00_0.01/fde015_597c7d9710e44a9d91514e0ac84fb653.jpg">
        <hr>
        <img id="img1"
          src="https://static.wixstatic.com/media/fde015_6159dcce72024a789a3df21e95e8d495.jpg/v1/fill/w_240,h_170,q_85,usm_0.66_1.00_0.01/fde015_6159dcce72024a789a3df21e95e8d495.jpg">
      </div>
      <div class="text_hotel">
        <div class="text_hotel1">
          <a href="info_room1.html">Junior Suite</a> <br></br>
          <li>Size :260 sq ft </li>
          <li>Beds: 2 Double(s)</li>
          <div class="booknow">
            <button>
              <a href="{%url 'moreinfo1' %}">more info</a>
            </button>
          </div>
          <table border="0">
            <tr>
              <td><i class="gg-thermostat" title="A/C"></i></td>
              <td><i class="gg-data" title="Wifi"></i></td>
              <td><img id="eat" src="https://image.flaticon.com/icons/png/512/838/838449.png" title="Safe" width="25px"
                  height="25px"></td>
              <td><img id="eat" src="https://img.icons8.com/pastel-glyph/2x/dining-room.png" title="Kitchen"
                  width="25px" height="25px"></td>
              <td><img id="eat" src="https://img.icons8.com/ios/452/towel.png" title="Towel" width="25px" height="25px">
              </td>
              <td><img id="eat" src="https://i.pinimg.com/originals/01/fe/a7/01fea7d3e47679b68389e892a376aa2c.png"
                  title="Telephone" width="25px" height="25px"></td>
              <td><img id="eat" src="https://image.flaticon.com/icons/png/512/49/49672.png" title="TV" width="25px"
                  height="25px"></td>

            </tr>
          </table>
        </div>
        <div class="text_hotel2">
          <a href="info_room2.html">Standard Room</a> <br></br>
          <li>Size: 230 sq ft</li>
          <li>Beds: 1 Double(s)</li>
          <div class="booknow">
            <button>
              <a href="{%url 'moreinfo2' %}">more info</a>
            </button>
          </div>
          <table border="0">
            <tr>
              <td><i class="gg-thermostat" title="A/C"></i></td>
              <td><i class="gg-data" title="Wifi"></i></td>
              <td><img id="eat" src="https://image.flaticon.com/icons/png/512/838/838449.png" title="Safe" width="25px"
                  height="25px"></td>
              <td><img id="eat" src="https://img.icons8.com/ios/452/towel.png" title="Towel" width="25px" height="25px">
              </td>
              <td><img id="eat" src="https://i.pinimg.com/originals/01/fe/a7/01fea7d3e47679b68389e892a376aa2c.png"
                  title="Telephone" width="25px" height="25px"></td>
              <td><img id="eat" src="https://image.flaticon.com/icons/png/512/49/49672.png" title="TV" width="25px"
                  height="25px"></td>
            </tr>
          </table>
        </div>
        <div class="text_hotel3">
          <a href="info_room3.html">Superior Room</a> <br></br>
          <li>Size: 280 sq ft</li>
          <li>Beds: 1 King(s)</li>
          <div class="booknow">
            <button>
                <a href="{%url 'moreinfo3' %}">more info</a>
            </button>

          </div>
          <table border="0">
            <tr>
              <td><i class="gg-thermostat" title="A/C"></i></td>
              <td><i class="gg-data" title="Wifi"></i></td>
              <td><img id="eat" src="https://image.flaticon.com/icons/png/512/838/838449.png" title="Safe" width="25px"
                  height="25px"></td>
              <td><img id="eat" src="https://img.icons8.com/pastel-glyph/2x/dining-room.png" title="Kitchen"
                  width="25px" height="25px"></td>
              <td><img id="eat" src="https://img.icons8.com/ios/452/towel.png" title="Towel" width="25px" height="25px">
              </td>
              <td><img id="eat" src="https://i.pinimg.com/originals/01/fe/a7/01fea7d3e47679b68389e892a376aa2c.png"
                  title="Telephone" width="25px" height="25px"></td>
              <td><img id="eat" src="https://image.flaticon.com/icons/png/512/49/49672.png" title="TV" width="25px"
                  height="25px"></td>
              <td><img id="eat" src="http://cdn.onlinewebfonts.com/svg/img_480319.png" title="Mini bar" width="25px"
                  height="25px"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}