body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

h3,
h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
}

.container {
    padding: 80px 120px;
}

.container2 {
    padding: 100px 120px;
}

.carousel-inner img {
    /* -webkit-filter: grayscale(90%);
    filter: grayscale(90%); make all photos black and white  */
    filter: opacity(80%);
    max-width: 100%;
    height: auto;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.bg-1 {
    background: rgb(45, 45, 48);
    color: rgb(189, 189, 189);
}

.bg-1 h3 {
    color: #fff;
}

.bg-1 p {
    font-style: italic;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail {
    padding: 0 0 15px 0;
}

.thumbnail .img-thumbnail {
    width: 100%;
    /* height: auto; */
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.thumbnail a {
    text-decoration: none;
    color: rgb(173, 172, 172);
}

.thumbnail a:hover {
    color: rgb(117, 117, 117);
}

.person {
    background-color: rgb(255, 255, 255);
}

.person:hover {
    border: none solid transparent;
    opacity: 0.9;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover,
.btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.modal-header,
h4,
.close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header,
.modal-body {
    padding: 40px 50px;
}

.nav-tabs li a {
    color: #777;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar .navbar-nav .nav-link {
    color: #d5d5d5 !important;
}

.navbar .navbar-brand {
    color: rgb(213, 213, 213) !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #fff !important;
    background-color: #363636 !important;
}

.navbar .navbar-nav .nav-item.active .nav-link {
    color: #fff !important;
    background-color: #29292b !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    color: #000 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover {
    background-color: rgb(236, 119, 119) !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(213, 213, 213, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    background-color: #555;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 20px;
    font-size: 18px;
    opacity: 0.9;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

/*------------------------------------------------------------------
     Slider
 -------------------------------------------------------------------*/

.cover-slides {
    height: 100vh;
}

.cover-slides .container {
    height: 100%;
    position: relative;
    z-index: 2;
}

.cover-slides .container>.row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cover-slides .container>.row {
    height: 100%;
}

.overlay-background {
    background: #333;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
}

.cover-slides h1 {
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #fff;
}

.cover-slides p {
    font-size: 18px;
    color: rgb(240, 240, 240);
}

/*------------------------------------------------------------------
  About
-------------------------------------------------------------------*/

.about-section-box {
    padding: 70px 0px;
}

.about-section-box .img-fluid {
    box-shadow: -10px -10px 0px #d0a772;
}

.inner-column h1 {
    font-family: Lato, sans-serif;
    font-size: 30px;
}

.inner-column h4 {
    font-size: 16px;
    font-weight: 500;
}

.inner-column p {
    font-size: 18px;
}

/*------------------------------------------------------------------
  QT
-------------------------------------------------------------------*/
.qt-background {
    background: url("https://assets.st-note.com/production/uploads/images/42587384/df3b1d0c5f633d9a46923b73d85d8821.jpg") no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

.qt-background p {
    font-size: 35px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
    margin-bottom: 20px;
}

.qt-background span {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

/*------------------------------------------------------------------
  Menu
-------------------------------------------------------------------*/

.menu-box {
    padding: 70px 0px;
}

.heading-title {
    margin-bottom: 50px;
}

.heading-title h2 {
    color: #010101;
    font-size: 28px;
}

.heading-title p {
    font-size: 18px;
    font-weight: 200;
    margin: 0px;
}

.gallery-single {
    margin: 30px 0px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: rgba(45, 45, 48, 0.9);
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.why-text h5 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
    text-align: left;
}

.why-text p {
    color: #ffffff;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.gallery-single:hover .why-text {
    bottom: 0px;
}

/*------------------------------------------------------------------
  Promotion
-------------------------------------------------------------------*/
.promotion {
    background: #ffffff;
    height: auto;
    width: 350px;
}

.promotion h5 {
    color: #2d2d30;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: 15px;
    padding-top: 15px;
    font-family: Lato, sans-serif;
    text-align: left;
}

.promotion h6 {
    color: #2d2d30;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: Lato;
    text-align: left;
}

.promotion p {
    color: #2d2d30;
    font-size: 16px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px dashed #d5d5d5;
    border-bottom: 2px dashed #d5d5d5;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}

.btn-white {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #2d2d2d;
    border-radius: 0;
    transition: .2s;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.btn-white:hover {
    /* border: 1px solid #333; */
    background-color: rgb(236, 119, 119);
    color: rgb(255, 255, 255);
}

/*------------------------------------------------------------------
  hotel
-------------------------------------------------------------------*/
 .form-control {
    border-radius: 0;
  }

  .head_room {
    padding-top: 10px;
  }

  .hotel {
    margin-right: 200px;
  }


  .hotel .box {
    width: 65%;
    height: 950px;
    margin-left: 400px;
    margin-top: 100px;
    padding-left: 50px;
    margin-right: 300px;
    background-color: white;
  }

  .hotel .img_hotel {
    float: left;
  }

  #img1 {
    margin-top: 30px;
    margin-bottom: 30px;
    filter: opacity(80%);
  }

  .hotel .text_hotel button a {
    font-size: 20px;
    color: white;
    
  }

  .hotel .text_hotel {
    float: left;
    margin-left: 30px;
    width: 700px;
  }

  .gg-thermostat {
    margin-bottom: 10px;
    margin-top: 50px;

  }

  .gg-data {
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 30px;
  }

  #eat {
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 27px;
  }

  .hotel .text_hotel a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: inline-block;

  }


  .hotel .text_hotel1 {
    margin-top: 27px;
    margin-bottom: 80px;
    width: 700px;
    height: 160px;

  }

  .hotel .text_hotel2 {
    padding-top: 27px;
    margin-bottom: 85px;
    width: 700px;
    height: 200px;

  }

  .hotel .text_hotel3 {
    width: 700px;
    height: 170px;
    padding-top: 19px;
  }

  .hotel .sell h1 {
    margin-right: 130px;
    float: right;
    background-color: darkkhaki;

  }

  .hotel .booknow button {
    margin-top: 35px;
    float: right;
    padding: 10px;
    height: 55px;
    width: 150px;
    background: rgb(53, 52, 52);
    color: white;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 17px;
  }

/*------------------------------------------------------------------
  profile
-------------------------------------------------------------------*/
  .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    max-width: 75%;
    height: 650px;
}

.profile-head h5{
    color: #2d2d30;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    /* margin-left: 15px; */
    padding-top: 15px;
    font-family: Lato, sans-serif;
    text-align: left;
}
.profile-head h6{
    color: #404041;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    /* margin-left: 15px; */
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: Lato;
    text-align: left;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-head .nav-tabs{
    font-family: Montserrat, sans-serif;
    margin-bottom:10%;
    border: 0;
    letter-spacing: 4px;
    opacity: 0.9;
    font-size: 12px;
    /* border-bottom:2px solid #404041; */
    
}
.profile-head .nav-tabs .nav-link{
    color: #d5d5d5 ;
    font-weight:600;
    border: none;
    background-color: #363636;
    border-radius: 0.5rem;
    margin-right: 5%;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    background-color: #2d2d30;
    color: #fff;
    /* border-bottom:2px solid #404041; */
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #404041;
    margin-left: 20px;
}

/*------------------------------------------------------------------
  login
-------------------------------------------------------------------*/
.ftco-body{
    background: url("https://www.juliasbali.com/wordpress/wp-content/uploads/2019/10/Villa-Massilia-1-bali-Exterior.jpg") no-repeat;
  }

  .ftco-section {
    padding: 1em 0; 
    height: 800px;}

  .ftco-no-pt {
    padding-top: 0; }

  .ftco-no-pb {
    padding-bottom: 0; }

  .heading-section {
    font-size: 30px;
    color: #000; 
    font-weight: 600;}

  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

  .wrap {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }

  .img, .login-wrap {
    width: 50%; }
    @media (max-width: 991.98px) {
      .img, .login-wrap {
        width: 100%; 
        height: 100%;} }

  @media (max-width: 767.98px) {
    .wrap .img {
      height: 100%; } }

  .login-wrap {
    position: relative;
    background: #fff h3;
      background-font-weight: 300; }
  
  .login-wrap h3{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0cm;
  }
  .login-wrap a{
    color: #e3b04b; 
    text-decoration: none !important;
  }

  .form-group {
    position: relative; }
    .form-group .label {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #000;
      font-weight: 700; 
      margin-bottom: 3%;
    }
      
    .form-group a {
      color: gray; 
      text-decoration: none !important;
      }

  .form-control {
    height: 48px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.2) !important; }
    .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.2) !important; }
    .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 0, 0, 0.2) !important; }
    .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.2) !important; }
    .form-control:focus, .form-control:active {
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #e3b04b; }

  .checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

  /* Hide the browser's default checkbox */
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }

  /* Style the checkmark/indicator */
  .checkbox-primary {
    color: #e3b04b; }
    .checkbox-primary input:checked ~ .checkmark:after {
      color: #e3b04b; }

  .login-btn {
    cursor: pointer;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
    margin-top: 3%;
    margin-bottom: 6%;
    padding: 10px 20px; }
  .login-btn:hover, .login-btn:active, .login-btn:focus {
      outline: none; }
  .login-btn.btn-primary {
      background: #333333 !important;
      color: #fff !important; }
  .login-btn.btn-primary:hover {
        border: 1px solid #525252;
        background: transparent;
        color: #ffffff; }

/*--------------------------------------------------------------------------
    Register
----------------------------------------------------------------------------*/
  .wrapper{
    min-height:125vh;
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    color: #000;
  }
  .wrapper-inner{
    padding:20px;
    background:#fff;
    max-width:900px;
    margin:auto;
    display:flex;}
  .wrapper-inner .image-holder{width:50%;margin-right: 3%;}
  .wrapper-inner form
  {width:50%;
    padding-top:15px;
    padding-left:45px;
    padding-right:30px;
  }
  .wrapper-inner h2{
    text-transform:uppercase;
    font-size:25px;
    font-family:Montserrat;
    text-align:center;
    font-weight: 1000;
    margin-bottom:30px;}
  .wrapper-inner .form-group{display:flex;}
  .wrapper-inner .form-group input{width:50%;}
  .wrapper-inner .form-wrapper{position:relative;}

  /*-----------------------------------------------------------
      regis staff
  -----------------------------------------------------------*/
  .wrapper-inner-form{
    width:100%;
    position:relative;
    z-index:9;
    padding:77px 61px 66px;
    background:#fff;
    max-width:900px;
    margin:auto;
    /* display:flex; */
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -ms-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -o-box-shadow:0 0 10px 0 rgba(0,0,0,.2)}
  
    .form-holder{
    position:relative;
    margin-bottom:21px}

/*-------------------------------------------------------------
    Booking
---------------------------------------------------------------*/
.card{
  max-width:500px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 100px;
  border-color: white;
  margin-bottom: 100px;}
 
.card-header{
  background-color: rgb(255, 255, 255);
  padding-top: 4%;
}
.card-body{
  /* display: flex; */
  padding: 5% 20% 5% 20%;
  justify-content: center;
} 
.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-radius: 100px;
  color: rgb(29, 233, 90);

}

.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 8px;
  top: 2px;
  width: 10px;
  height: 17px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
}

.gg-check-o1 {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-radius: 100px;


}

.gg-check-o1::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 8px;
  top: 2px;
  width: 10px;
  height: 17px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
}

.gg-border-style-solid {
  transform: scale(var(--ggs, 1));
}

.gg-border-style-solid,
.gg-border-style-solid::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 26px;
  height: 17px
}

.gg-border-style-solid::before {
  content: "";
  position: absolute;
  height: 2px;
  top: 7px;
  border-top: 2px solid
}